<header>
   <div class="imageFull">
      <a href="#" class="logo">New Coast Ventures</a>
      <nav>
         <ul>
            <li><a href="#works"><i>our</i> work</a>
            <li><a href="#services"><i>our</i> services</a>
            <li><a href="#team"><i>the</i> team</a>
            <li><a href="#contact"><i>say</i> hello</a>
         </ul>
      </nav>
   </div>
</header>
<section id="tagline">
   <div class="container">
      <h1>We help you bring your ideas to life. We are a full-service web and mobile
      development shop based in Chicago, IL.</h1>
   </div>
</section>
<section id="works">
   <div class="container">
      <h2>Our work</h2>
      <ul class="gallery anim1">
         <li><a href="http://www.tapfit.co" target="_blank"><%= image_tag "works/tapfit.png", :alt => "TapFit" %></a></li>
         <li><a href="http://www.prelang.com" target="_blank"><%= image_tag "works/prelang.png", :alt => "Prelang" %></a></li>
         <li><a href="https://itunes.apple.com/us/app/motlee/id598056592?mt=8" target="_blank"><%= image_tag "works/motlee.png", :alt => "Motlee" %></a></li>
      </ul>
   </div>
</section>
<section id="services">
   <div class="container">
      <h2>Our services</h2>
      <ul class="gallery2">
         <li>
            <%= image_tag "icon1.svg", :alt => "Professional Approach" %>
            <h3>Product Development</h3>
            <p>We can help you tackle any project, big or small.
            Our expertise is in mobile and web development, but
            we also provide backend development, design and
            branding, integrations, and more.</p>
         </li>
         <li>
            <%= image_tag "icon2.svg", :alt => "Responsive Design" %>
            <h3>Responsive design</h3>
            <p>We are experts in creating responsive web
            applications that look great on any device - from
            laptops to tablets to mobile phones. Our team is
            always on the cutting edge with new technology.</p>
         </li>
         <li>
            <%= image_tag "icon3.svg", :alt => "Award winning work" %>
            <h3>World Class Service</h3>
            <p>Our products have been finalists in tech competitions and
            accepted into top incubator programs. We treat every project
            as if we were an extension of your team; we only succeed if you do.</p>
         </li>
         <li>
            <%= image_tag "icon4.svg", :alt => "Website optimization" %>
            <h3>Website optimization</h3>
            <p>We have years of experience in website optimization;
             including user interface re-design, user experience
             consulting, search engine optimization, and search
             engine marketing.</p>
         </li>
      </ul>
   </div> <!-- end container -->
</section>
<section id="team">
   <div class="container">
      <h2>The team</h2>
      <ul class="gallery anim2">
         <li>
         <%= image_tag "team/nick.png", :alt => "Nick Cromydas" %>
         <i>Nick Cromydas<span>Chief Executive Officer</span><div class="divide"></div></i>
         </li>
         <li>
         <%= image_tag "team/scott.png", :alt => "Scott Kacyn" %>
         <i>Scott Kacyn<span>Chief Technology Officer</span><div class="divide"></div></i>
         </li>
         <li>
         <%= image_tag "team/erik.png", :alt => "TBD" %>
         <i>Erik Nomitch<span>Tech Ninja</span><div class="divide"></div></i>
         </li>
      </ul>
   </div> <!-- end container -->
</section>
<section id="contact">
   <div class="container">
      <h2>Say Hello!</h2>
      <img src="" alt="">
      <form>
         <p>
         <label for="name">Name</label>
         <input type="text" id="name" name="name">
         </p>
         <p>
         <label for="email">E-mail</label>
         <input type="email" id="email" name="email">
         </p>
         <p>
         <label for="message">Message</label>
         <textarea name="message" id="message"></textarea>
         </p>
         <p>
         <input type="submit" value="send">
         </p>
      </form>
   </div> <!-- end container -->
</section>
<a href="#" class="back-top">Back to top</a>
<footer>
   <div class="container">
      <div class="logoSmall">
         <div class="logoSmall"></div>
         <span>&copy; My Website</span>
      </div>
      <div class="socials">
         <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Dribbble</a></li>
         </ul>
      </div>
   </div> <!-- end container -->
</footer>
