<div class="container main-header"><!-- header container-->

	<!-- Site Logo -->
	<div class="logomark two columns">NCV</div>
	<div class="logo secondary-color six columns">New Coast Ventures</div>

	<!-- Main Navigation-->
	<nav class="main-nav eight columns">
		<ul>
         	<li><a href="#parallax-1" class="third-color">Work</a>//</li>
			<li><a href="#parallax-2" class="third-color">People</a>//</li> 
			<li><a href="#parallax-3" class="third-color">Community</a></li>
		</ul>
	</nav>

</div><!-- close header container -->

<div class="container header-banner"><!-- main header banner -->
	<div class="home-text-wrapper">
		<h1>Bring your ideas to life</h1>
		<h2 class="primary-color">We provide innovation solutions for your product, business, or brand</h2>
	</div><!-- end home text wrapper -->
	<div class="home-text-wrapper-border"></div>
</div><!-- close main header banner -->


<!-- About Us Section
================================================== -->
<div class="container page about-us" id="about">
	<div class="subtitle">We are a digital innovation company located in Chicago, IL. Part <span class="highlight">technology partner</span>, part <span class="highlight">seed fund</span>, and part <span class="highlight">co-working</span> community. We make things that people love.</div>
</div><!-- close about us header -->

<!-- Parallax Section 1
================================================== -->
<div id="parallax-1" class="parallax">
	<div class="parallax-banner-1 parallax-background"></div><!-- parallax bg -->
	<div class="banner-overlay"></div><!-- overlay pattern -->
	<div class="container parallax-content">
		<h1>Our work</h1>
		<p>We believe innovation starts by doing. We build products, develop new businesses, and help companies innovate through mobile and responsive web development, design, and consulting services.</p>
	</div>
</div><!-- close parallax banner 1-->

<!-- Portfolio Section
================================================== -->
<div class="container page work" id="work">
	<ul class="work-bucket-header">
		<li class="four columns">
			<h2>Development</h2>
		</li>
		<li class="twelve columns">
			<p>We have been building awesome products since 2009. Our keen eye for design and technical expertise enable us to create beautiful and innovate products for Fortune 500 and startup companies alike.</p>			
			<ul class="work-pins">
				<li><a href="#">TapFit</a></li>
				<li><a href="#">ATM Finder</a></li>
				<li><a href="#">Certified Humane</a></li>
				<li><a href="#">iPad Menu</a></li>
				<li><a href="#">Motlee</a></li>
				<li><a href="#">Athliance</a></li>
			</ul>
		</li>
	</ul>
	<ul class="work-bucket-header">
		<li class="four columns">
			<h2>Partnerships</h2>
		</li>
		<li class="twelve columns">
			<p>In addition to our in-house development work, New Coast makes small seed investments in companies we believe will stregnthen our network.</p>
			<ul class="work-pins">
				<li><a href="#">Specless</a></li>
				<li><a href="#">Donde</a></li>
				<li><a href="#">Prelang</a></li>
				<li><a href="#">Learnmetrics</a></li>
			</ul>
		</li>
	</ul>
</div><!-- close work section -->

<!-- Parallax Section 2
================================================== -->
<div id="parallax-2" class="parallax">
   <div class="parallax-banner-2 parallax-background"></div><!-- parallax bg -->
   <div class="banner-overlay"></div><!-- overlay pattern -->
   <div class="container parallax-content">
      <h1>Our People</h1>
      <p>We are a growing network of entrepreneurs, developers, designers, and investors. Our passion is for developing world-class products - we are not an agency, we are an extension of your team.</p>
   </div>
</div><!-- close parallax section 2-->

<!-- Our Team Section
================================================== -->

<div class="fullwidth">
	<div class="container page">
		<ul class="work-bucket-header">
			<li class="four columns">
				<h2>Team Members</h2>
			</li>
			<li class="twelve columns">
				<p>These are the folks that started New Coast and run its daily operations. We're programmers, designers, analysts - and we all share an intense entrepreneurial spirit.</p>
				<ul class="work-pins">
					<li><%= image_tag "team/scott.jpg", :alt => "Scott Kacyn", :class => "scale-with-grid" %></li>
					<li><%= image_tag "team/nick.jpg", :alt => "Nick Cromydas", :class => "scale-with-grid" %></li>
					<li><%= image_tag "team/alex.jpg", :alt => "Alex Ross", :class => "scale-with-grid" %></li>
					<li><%= image_tag "team/zo.jpg", :alt => "Alex Zotov", :class => "scale-with-grid" %></li>
					<li><%= image_tag "team/zack.jpg", :alt => "Zack Martinsek", :class => "scale-with-grid" %></li>
				</ul>
			</li>
		</ul>
		<ul class="work-bucket-header">
			<li class="four columns">
				<h2>Community</h2>
			</li>
			<li class="twelve columns">
				<p>In addition to our direct team, we work closely with a number of awesome entrepreneurs who make up our growing community. We teach and learn from one another regularly.</p>
				<ul class="work-pins">
					<li><%= image_tag "team/steve.jpg", :alt => "Stephen Corby", :class => "scale-with-grid" %></li>
					<li><%= image_tag "team/erik.png", :alt => "Erik Nomitch", :class => "scale-with-grid" %></li>
				</ul>
			</li>
		</ul>
	</div><!-- close container -->
</div><!-- close our team fullwidth section -->

<!-- Parallax Section 3
================================================== -->
<div id="parallax-3" class="parallax">
   <div class="parallax-banner-3 parallax-background"></div><!-- parallax bg -->
   <div class="banner-overlay"></div><!-- overlay pattern -->
   <div class="container parallax-content">
      <h1>Our Community</h1>
      <p>We have over 3,500 sq ft of co-working space in the heart of River North. Unlimited WiFi, Starbucks coffee, and 24/7 access. If you need a place to build the next big thing, come join us!</p>
   </div>
</div><!-- close parallax section 3-->

<div class="container page">
	<div class="subtitle">Want to come work with us, hire us for your next project, or just talk about Chicago sports?</div>
	<a href="mailto:scott@newcoastventures.com" class="btn">Contact Us</a>
</div><!-- close services header -->

<!-- Contact Section
================================================== -->
<div class="container contact fullwidth sub-page" id="contact">
	<strong>Connect with us:</strong> <a href="https://www.facebook.com/newcoastventures">Facebook</a> | <a href="https://twitter.com/NCVentures">Twitter</a><br />
	<div class="copyright">Copyright &copy; 2014 New Coast Ventures. All rights reserved.</div>
</div><!-- close work section -->
