<div class="container">

	<div class="navigation"><!-- header container-->

		<!-- Site Logo -->
		<div class="logomark">NCV</div>
		<div class="logo">New Coast Ventures</div>

		<!-- Main Navigation-->
		<nav class="main-nav">
			<ul>
	         	<li><a href="#parallax-1">Work</a></li>
				<li><a href="#parallax-2">Services</a></li> 
				<li><a href="#parallax-3">About</a></li>
				<li><a href="#parallax-4">Contact</a></li>
			</ul>
		</nav>
	</div><!-- close navigation -->

	<div class="splash">
		<div class="splash-header">
			<h2>We are the premier digital innovation agency in Chicago.<br>Part technology partner & part co-working community.</h2>
		</div>
		<%= video_tag("chicago.mp4", controls: false, autoplay: true, loop: "loop", height: "100%") %>
	</div>
	
	<!-- Parallax Section 1 -->
	<div id="parallax-1" class="parallax">
		<div class="parallax-banner-1 parallax-background"></div><!-- parallax bg -->
		<div class="banner-overlay"></div><!-- overlay pattern -->
		<div class="parallax-content">
			<h1>Our Work</h1>
			<p>We believe innovation starts by doing. We build products, develop new businesses, and help companies exceed their technology goals.</p>
		</div>
	</div><!-- close parallax banner 1-->
	<div class="page work">
		<ul class="thumbnails">
			<li class="thumbnail secondary"><%= image_tag "work/ipad-menu.jpg", :alt => "iPad Menu" %>
				<div class="hover-info">
					<h3>Valley Lodge Tavern</h3>
					<h4>Digital Menu, Website, & Branding</h4>
					<!--<a href="#">Learn More</a>-->
				</div>
			</li>
			<li class="thumbnail primary"><%= image_tag "work/tapfit.jpg", :alt => "TapFit" %>
				<div class="hover-info">
					<h3>TapFit</h3>
					<h4>Mobile Fitness App</h4>
					<!--<a href="#">Learn More</a>-->
				</div>
			</li>
			<li class="thumbnail primary"><%= image_tag "work/ahalogy.jpg", :alt => "Ahalogy SmartStacks" %>
				<div class="hover-info">
					<h3>Ahalogy</h3>
					<h4>UX & Development</h4>
					<!--<a href="#">Learn More</a>-->
				</div>
			</li>
			<li class="thumbnail primary"><%= image_tag "work/petcheck.jpg", :alt => "Pet Check Technology" %>
				<div class="hover-info">
					<h3>Pet Check</h3>
					<h4>Mobile Refresh</h4>
					<!--<a href="#">Learn More</a>-->
				</div>
			</li>
			<li class="thumbnail primary"><%= image_tag "work/atm-finder.jpg", :alt => "Donde ATM Finder" %>
				<div class="hover-info">
					<h3>Donde</h3>
					<h4>ATM Finder App</h4>
					<!--<a href="#">Learn More</a>-->
				</div>
			</li>
			<li class="thumbnail primary"><%= image_tag "work/ch.jpg", :alt => "Certified Humane" %>
				<div class="hover-info">
					<h3>Certified Humane</h3>
					<h4>Mobile Apps</h4>
					<!--<a href="#">Learn More</a>-->
				</div>
			</li>
			<div style="clear:both;"></div>
		</ul>
	</div>

	<!-- Parallax Section 2 -->
	<div id="parallax-2" class="parallax">
	   <div class="parallax-banner-2 parallax-background"></div><!-- parallax bg -->
	   <div class="banner-overlay"></div><!-- overlay pattern -->
	   <div class="parallax-content">
	      <h1>Our Services</h1>
	      <p>We offer our clients a suite of services including native app development, responsive web development, user experience design, and mobile strategy.</p>
	   </div>
	</div><!-- close parallax section 3-->
	<div class="page services">
		<div class="service">
			<div class="left"><%= image_tag "work/tapfit-designs.jpg", :alt => "TapFit Before & After" %></div>
			<div class="right">
				<h1>User Experience</h1>
				<p>At New Coast, user experience lives at the core of everything we do. Creating an experience that delights your users is founded on a deep customer empathy.</p>
				<p>We aim to go beyond customer expectations to deliver groundbreaking experiences that people <i>want</i> to share with their friends and family.</p>
				<p>Our philosophy is that you can never learn too early or too often from your customers, and to get to that next level of awesomeness, you need to know your customer better than they know themselves.</p>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="service">
			<div class="left">
				<h1>App Development</h1>
				<p>Native and hybrid mobile apps are our fort&eacute;. We have deep iOS and Android expertise in UX/UI design & development.</p>
				<p>We build products that people love. From finding the nearest ATM, to grabbing an awesome workout, to finding humanely-raised product vendors, our apps help people live better, more convenient lives.</p>
			</div>
			<div class="right"><%= image_tag "work/atm-map.jpg", :alt => "ATM Finder Map" %></div>
			<div style="clear:both;"></div>
		</div>
		<div class="service">
			<div class="left"><%= image_tag "work/strategy.jpg", :alt => "Strategy" %></div>
			<div class="right">
				<h1>Strategy</h1>
				<p>We have years of experience building, marketing, and scaling products for millions of users.</p>
				<p>Our team members have worked at Fortune 500 companies, venture-backed businesses, and bootstrapped startups. We know what it takes to turn an idea into a product and make your vision become a reality.</p>
				<p>We provide consulting services for product implementation, design, growth hacking, and more.</p>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="service">
			<div class="left">
				<h1>Web Development</h1>
				<p>We started building websites in high school, and we have carefully honed our craft in the decade since.</p>
				<p>We've built everything from social networks to account management platforms to restaurant landing pages, working with clients both big and small.</p>
				<p>We offer full-service web development including design, front-end, and backend implementation, with an expertise in Ruby on Rails, AngularJS, Javascript, and HTML/CSS.</p>
			</div>
			<div class="right"><%= image_tag "work/imac.jpg", :alt => "VLT Website" %></div>
			<div style="clear:both;"></div>
		</div>
	</div>

	<!-- Parallax Section 2 -->
	<div id="parallax-3" class="parallax">
	   <div class="parallax-banner-3 parallax-background"></div><!-- parallax bg -->
	   <div class="banner-overlay"></div><!-- overlay pattern -->
	   <div class="parallax-content">
	      <h1>About Us</h1>
	      <p>We are a growing network of entrepreneurs, developers, designers, and investors. Our passion is for developing world-class products.</p>
	   </div>
	</div><!-- close parallax section 2-->
	<div class="page team">
		<ul class="thumbnails">
			<li class="thumbnail primary"><%= image_tag "team/4.jpg", :alt => "Nick on Phone" %></li>
			<li class="thumbnail primary"><%= image_tag "team/5.jpg", :alt => "Kevin" %></li>
			<li class="thumbnail primary"><%= image_tag "team/3.jpg", :alt => "Erik on Computer" %></li>
			<li class="thumbnail secondary"><%= image_tag "team/1.jpg", :alt => "Frameri Working" %></li>
			<li class="thumbnail primary">
				<p>We are founders, programmers, designers, dreamers, and builders. We work closely with a number of awesome entrepreneurs who make up our growing community.</p>
			</li>
			<li class="thumbnail small"><%= image_tag "team/scott.jpg", :alt => "Scott Kacyn" %>
				<div class="person-info">
					<h3>Scott Kacyn</h3>
					<h4>Partner<br>New Coast</h4>
				</div>
			</li>
			<li class="thumbnail small"><%= image_tag "team/nick.jpg", :alt => "Nick Cromydas" %>
				<div class="person-info">
					<h3>Nick Cromydas</h3>
					<h4>Partner<br>New Coast</h4>
				</div>
			</li>
			<li class="thumbnail small"><%= image_tag "team/alex.jpg", :alt => "Alex Ross" %>
				<div class="person-info">
					<h3>Alex Ross</h3>
					<h4>Finance<br>New Coast</h4>
				</div>
			</li>
			<li class="thumbnail small"><%= image_tag "team/7.jpg", :alt => "NCV Logo" %></li>
			<li class="thumbnail small-horizontal"><%= image_tag "team/2.jpg", :alt => "Couch Area" %></li>
			<div class="faces">
				<li class="thumbnail small"><%= image_tag "team/steve.jpg", :alt => "Steve Corby" %>
					<div class="person-info">
						<h3>Steve Corby</h3>
						<h4>CEO<br>Specless</h4>
					</div>
				</li>
				<li class="thumbnail small"><%= image_tag "team/erik.png", :alt => "Erik Nomitch" %>
					<div class="person-info">
						<h3>Erik Nomitch</h3>
						<h4>CEO<br>Prelang</h4>
					</div>
				</li>
				<li class="thumbnail small"><%= image_tag "team/zo.jpg", :alt => "Alex Zotov" %>
					<div class="person-info">
						<h3>Alex Zotov</h3>
						<h4>Engineering<br>New Coast</h4>
					</div>
				</li>
				<li class="thumbnail small"><%= image_tag "team/tony.jpg", :alt => "Anthony Nicalo" %>
					<div class="person-info">
						<h3>Anthony Nicalo</h3>
						<h4>CEO<br>Donde</h4>
					</div>
				</li>
				<li class="thumbnail small"><%= image_tag "team/julian.png", :alt => "Julian Miller" %>
					<div class="person-info">
						<h3>Julian Miller</h3>
						<h4>CEO<br>Learnmetrics</h4>
					</div>
				</li>
				<li class="thumbnail small"><%= image_tag "team/james.jpg", :alt => "James Dickerson" %>
					<div class="person-info">
						<h3>James Dickerson</h3>
						<h4>Growth Hacker<br>New Coast</h4>
					</div>
				</li>
			</div>
			<div class="faces">
				<li class="thumbnail tertiary"><%= image_tag "team/6.jpg", :alt => "Nick and Erik" %></li>
			</div>
			<div style="clear:both;"></div>
		</ul>
	</div>

		<!-- Parallax Section 2 -->
	<div id="parallax-4" class="parallax">
	   <div class="parallax-banner-3 parallax-background"></div><!-- parallax bg -->
	   <div class="banner-overlay"></div><!-- overlay pattern -->
	   <div class="parallax-content">
	      <h1>Contact Us</h1>
	      <p>Want to hire us for your next project? Want to join our awesome team? Maybe you just want to talk shop. Whatever the occasion we'd love to hear from you!</p>
	   </div>
	</div><!-- close parallax section 2-->
	<div class="page contact">
		<div class="contact-info">
			<h4>Chicago Headquarters</h4>
			<address>
				<strong>New Coast Ventures, LLC</strong><br>
				116 W Illinois St. Suite 5E<br>
				Chicago, IL 60614
			</address>
			<br><br>
			<iframe width="90%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=116%20W%20Illinois%20St%20Suite%205E%2C%20Chicago%2C%20IL%2C%20United%20States&key=AIzaSyCVhZsSyTwWpTs5Z1VK094bRhRXo0MhJno"></iframe>
		</div>
		<div class="inquiries">
			<h4>Business Inquiries</h4>
			<p>Someone from our team will get back to you within 24 hours</p>
			<%= form_for @message, :url => send_inquiry_landings_path do |form| %>
				<%= form.text_field :name, :placeholder => "Name" %>
				<%= form.text_field :email, :placeholder => "Email" %>
				<%= form.text_field :phone, :placeholder => "Phone" %>
				<%= form.text_field :company, :placeholder => "Company" %>
				<%= form.text_area :comments, :placeholder => "Comments" %>
				<%= form.submit "SUBMIT", :class => "btn" %>
			<% end %>
		</div>
		<div style="clear:both;"></div>
	</div><!-- close services header -->
</div>

